@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #007fff;
  --secondary: #6f7e8c;
  --text: #212121;
  --shadowColor: #e4e9f7;
  --shadowColor2: #dcd130;
}

body {
  /* background-color: burlywood; */
  background-color: #e4e9f7;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 55px;
  /* background-color: palegoldenrod; */
  background-color: white;
}

.lib-text {
  font-family: "Black Ops One", cursive;
  font-size: 40px;
  text-transform: uppercase;
}

button.open-nav {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 40px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

button#newbook:hover {
  border: 2px solid aqua;
  transform: scale(1.1) rotate(180deg);
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 4rem;
  padding: 55px;
}

p {
  font-size: 20px;
}

.del-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

i:hover {
  transform: scale(1.1);
}

.toggle-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  position: relative;
  height: 100%;
  min-width: 60px;
  top: 28px;
  transition: all 0.5s ease;
}

.switch {
  display: block;
  position: absolute;
  bottom: 30px;
  margin-top: 200px;
  padding-left: 40px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  background-color: #007fff;
  border-radius: 7px;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.toggle-switch.read .controller {
  transform: translateX(20px);
}

.toggle-switch.read .switch {
  background-color: var(--shadowColor2);
}

.controller {
  background-color: black;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 23px;
  top: 2.3px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.controller-text {
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: row;
  left: -3.5rem;
  top: -27px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  margin-top: -10px;
  font: 30px;
}

.book-card {
  background-color: transparent;
  border: 3px dotted black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
  color: #000;
  box-shadow: -3px 3px 0px var(--shadowColor), -6px 6px 0px var(--shadowColor2);
  transition: all 0.5s ease-in-out;
}

.book-card.read {
  background-color: black;
  color: white;
  transition: all 0.5s ease-out;
}

.side-modal {
  position: relative;
  position: fixed;
  background-color: #cacaca;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
  z-index: 999;
}

.close-nav {
  border: 0;
  background: none;
  color: #ffe600;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
}

.navigation-open {
  transform: translateX(-30%);
}

.add-book-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-width: 320px;
  gap: 20px;
  top: 120px;
  list-style: none;
  margin: auto;
  padding-left: 12px;
}

.input-group {
  position: relative;
  --x: 15px;
  --y: 10px;
  padding: var(--x) calc(var(--y) - 4rem);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-left: calc(var(--x) + 25px);
}

input {
  border: 1px solid var(--secondary);
  font-size: 1rem;
  border-radius: 8px;
  color: var(--text);
  background: transparent;
  transition: border-color 0.2s;
  width: 100%;
  padding: var(--x) var(--y);
}

input::placeholder {
  color: transparent;
}

input:placeholder-shown ~ label {
  font-size: 1rem;
  cursor: text;
  color: var(--secondary);
  top: 30px;
}

label,
input:focus ~ label {
  position: absolute;
  top: -3px;
  padding: 0 4px;
  background-color: #cacaca;
  display: block;
  font-size: 22px;
  left: 8px;
  color: var(--secondary);
  transition: 0.3s;
}

input:focus ~ label {
  color: var(--primary);
}

input:focus {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}

.check-bok {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 20px;
}

#is-read {
  margin-left: 240px;
}

.check {
  width: 20px;
  height: 20px;
  accent-color: white;
  outline: none;
  border: none;
}

button[type="submit"] {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--secondary);
  font-size: 1rem;
  border-radius: 8px;
  color: var(--secondary);
  width: 100%;
  padding: var(--x) var(--y);
  text-align: left;
  cursor: pointer;
}
